<ul>
  <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <a (click)="homeRoute()" routerLink="/">Home</a>
  </li>
  <li routerLinkActive="active">
    <a (click)="employeeRoute()" routerLink="Employee">Employee</a>
  </li>
  <li routerLinkActive="active">
    <a (click)="customerRoute()" routerLink="Customer">Customer</a>
  </li>
  <li routerLinkActive="active">
    <a (click)="schoolRoute()" routerLink="School">School</a>
  </li>
  <li routerLinkActive="active">
    <a (click)="studentRoute()" routerLink="Student">Student(Lazy Loading)</a>
  </li>
  <li routerLinkActive="active">
    <a (click)="userRoute()" routerLink="User">User(Lazy Loading)</a>
  </li>
  <li routerLinkActive="active">
    <a (click)="aboutRoute()" [routerLink]="['About Us']">About Us</a>
  </li>
  <li>
    <a *ngIf="showUserandLogout">Logged in as-{{ userDetails.userName }}</a>
  </li>

  <button *ngIf="showUserandLogout" (click)="logOut()" type="submit">
    Log Out
  </button>
</ul>
