<p>employee works!</p>
<button (click)="payBalanceDueFunction()">Employee</button>
<!-- string interpolation used below for employeeList  -->
<!--  pipe and json used temporarily below  to display employee list on html , employee list have array of objects that 
  we didn't created so far; we will eliminate this in future once we get more about on arrays -->
<!-- {{ employeeList.data | json }} -->
<!-- ngIf and ngFor are  structural directives -->
<!-- ngIF used to display showTable of employeeList data -->
<!-- should we use  ngIf always in div tag? -->
<div *ngIf="showTable">
  <table>
    <caption>
      Employee list
    </caption>
    <tr>
      <th>ID</th>
      <th>Employee name:</th>
      <th>Employee age:</th>
      <th>Employee salary</th>
      <!-- <th>Profile image</th> -->
    </tr>

    <!--ngFor use to repeat the loop of data length  to print data from a employeeList.data   -->
    <!-- below is startdard syntax for ngFor;here we creating emp as variable by using let keyword-->
    <tr *ngFor="let emp of employeeList.data">
      <!-- we need use string interpolation here for to print table data(td) -->
      <td>{{ emp.id }}</td>
      <td>{{ emp.employee_name }}</td>
      <td>{{ emp.employee_age }}</td>
      <td>{{ emp.employee_salary }}</td>
      <!-- <td>{{ emp.profile_image }}</td> -->
    </tr>
  </table>
</div>
<br />
<br />
