<!-- header compnent calling to get the customer info on the web browser -->
<!-- <div *ngIf="showNav"> -->
<app-header></app-header>
<!-- </div> -->
<br />
<br />
<br />
<br />
<br />
<!-- {{ myId }} -->
<!-- <button (click)="oneWayDataBinding()">One Way Binding</button> -->
<br />
{{ loading }}
<div class="comp-overlay" role="img" *ngIf="loading">
  <img
    style="margin:10% 40%;height:30%;"
    src="assets/img/loader.gif"
    aria-label="loading"
  />
</div>
<!-- <input type="number" name="myId" id="myId" [(ngModel)]="myId" /> -->
<!-- router outlet used for navigation of all the page components  and it is one of the directives-->
<router-outlet></router-outlet>
<!-- footer compnent calling here to get the customer info on the web browser -->
<app-footer></app-footer>
<!-- what is Router Link? -->
