<form [formGroup]="studentCreateForm">
  <label for="studentId">Student Id</label>
  <input
    type="text"
    name="studentId"
    id="studentId"
    formControlName="studentId"
  />
  <div
    *ngIf="
      !studentCreateForm.controls.studentId.valid &&
      studentCreateForm.controls.studentId.errors.required &&
      formSubmitStatus
    "
  >
    <p>This field is required</p>
  </div>

  <br />
  <br />
  <label for="studentName">Student Name</label>
  <input
    type="text"
    name="studentName"
    id="studentName"
    formControlName="studentName"
  />
  <div
    *ngIf="
      !studentCreateForm.controls.studentName.valid &&
      studentCreateForm.controls.studentName.errors.required &&
      formSubmitStatus
    "
  >
    <p>This field is required</p>
  </div>
  <div
    *ngIf="
      !studentCreateForm.controls.studentName.valid &&
      studentCreateForm.controls.studentName.errors.numberValidator &&
      formSubmitStatus
    "
  >
    <p>This field containd numbers</p>
  </div>
  <div
    *ngIf="
      !studentCreateForm.controls.studentName.valid &&
      studentCreateForm.controls.studentName.errors.minlength &&
      formSubmitStatus
    "
  >
    <p>Minimum length should be 3</p>
  </div>
  <div
    *ngIf="
      !studentCreateForm.controls.studentName.valid &&
      studentCreateForm.controls.studentName.errors.maxlength &&
      formSubmitStatus
    "
  >
    <p>Maximum length should be 10</p>
  </div>
  <br />
  <br />
  <label for="studentPhoneNumber">Student Phone Number</label>
  <input
    type="text"
    name="studentPhoneNumber"
    id="studentPhoneNumber"
    formControlName="studentPhoneNumber"
  />

  <br />
  <br />
  <label for="country">Country</label>
  <input type="text" name="country" id="country" formControlName="country" />

  <br />
  <br />
  <label for="course">Course</label>
  <input type="text" name="course" id="course" formControlName="course" />
  <div
    *ngIf="
      !studentCreateForm.controls.course.valid &&
      studentCreateForm.controls.course.errors.required &&
      formSubmitStatus
    "
  >
    <p>This field is required</p>
  </div>
  <br />
  <br />
  <label for="year">Year</label>
  <input type="text" name="year" id="year" formControlName="year" />
  <!-- <div
    *ngIf="
      !studentCreateForm.controls.year.valid &&
      studentCreateForm.controls.year.errors.required &&
      formSubmitStatus
    "
  >
    <p>This field is required</p>
  </div> -->
  <br />
  <br />
  <!-- <button [disabled]="studentCreateForm.valid" (click)="createStudent()"> -->
  <!-- Create Student-{{ studentCreateForm.valid }}-k -->
  <!-- </button> -->
  <button (click)="createStudent()">
    Create Student
  </button>
</form>

<div *ngIf="successMessage">
  <p>User has been created</p>
</div>

<!-- [disabled]="!studentCreateForm.valid" [disabled]="!studentCreateForm.valid"-->
