<p>This Customer page is changed in my branch waiting for review !</p>
<!-- <form [formGroup]="customerForm">
   -->
<!-- <label for="customerAge"> Customer Age</label> -->

<!-- <input
    type="number"
    name="customerAge"
    id="customerAge"
    formControlName="customerAge" -->
<!-- /> -->

<!-- <button (click)="searchByAge()">Search</button>
  <br />
  <br /> -->
<!-- <button (click)="customerId()">Submit</button> -->
<!-- </form>  -->
<!-- <div *ngIf="showTable">
  {{ customerResponse.data[0].studentName }}
</div>

<table *ngIf="showTable">
  <tr>
    <th>Name</th>
    <th>Student ID</th>
    <th>Contac</th>
    <th>Year</th>
    <th>Course</th>
  </tr>
  <tr *ngFor="let customer of customerResponse.data">
    <td>{{ customer.studentName }}</td>
    <td>{{ customer.studentId }}</td>
    <td>{{ customer.studentPhoneNumber }}</td>
    <td>{{ customer.year }}</td>
    <td>{{ customer.course }}</td>
  </tr>
</table> -->

<app-customer-filter></app-customer-filter>

<app-customer-table></app-customer-table>
